<!DOCTYPE html>
<html lang="en-US">

    <head>

        <title> SignIn </title>
        <meta charset="UTF-8">
        
        <link href="https://fonts.googleapis.com/css?family=Raleway:300i,400,500,500i,700,700i&display=swap" rel="stylesheet">

        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">

        <script scr="../static/js/jquery.min.js"></script>
        <script scr="../static/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="../static/css/style.css">

    </head>

    <body>

        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-4 col-sm-0"></div>

                <div class="col-lg-4 col-sm-12 form-container">
                    
                    <p class="header"> SIGN IN </p>

                    <div class="form">

                        <div class="row">

                            <div class='col-lg-1 col-1'></div>
                            
                            <div class="col-lg-10 col-10 inputs">
                                <div class="input-group user-id">
                                    <span class="input-group-addon" id="user-id"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    <input type="email" class="form-control" placeholder="USER E-MAIL ID" aria-describedby="user-id" name="email-id" required>
                                </div>
                                <div class="input-group password">
                                    <span class="input-group-addon" id="password1"><i class="fa fa-key" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" placeholder="PASSWORD" aria-describedby="password1" name="passwd1" required>
                                </div>
                                <a href="./home_loggedin.html"><button type="button" class="btn btn-primary btn-lg btn-block sub-btn">SIGN IN</button></a href="./home_loggedin.html">
                            </div>

                            <div class='col-lg-1 col-1'></div>

                        </div>

                    </div>
                    
                    <div class="form">
                        <p class="alt-opt"> New user ? <a href="signup.html"><button type="button" class="btn btn-primary">SIGN UP</button></a></p>
                    </div>

                </div>

                <div class="col-lg-4 col-sm-0"></div>

            </div>



        </div>
    </body>

</html>
